.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s ease-in-out, opacity 1s ease-in-out;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 1s ease-in-out, opacity 1s ease-in-out;
}

.modal__title {
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 24px;
}

.modal__close {
  position: absolute;
  opacity: 0.5;
  border: none;
  background: none;
  cursor: pointer;
  top: 20px;
  right: 20px;
}

.modal__close:hover {
  opacity: 1;
  cursor: pointer;
}

.modal__content {
  background-color: #fff;
  position: relative;
  border-radius: 20px;
  padding: 28px 38px 36px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  margin: 0px 16px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__input {
  display: block;
  width: 100%;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.modal__submit {
  margin-top: 32px;
  padding: 8px 16px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  cursor: pointer;
  width: fit-content;
  border-radius: 4px;
}

.modal__submit:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.modal__submit:disabled {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: not-allowed;
}

@media (max-width: 480px) {
  .modal__content {
    border-radius: 12px;
    padding: 32px 16px;
  }

  .modal__title {
    padding-bottom: 37px;
  }

  .modal__submit {
    width: 100%;
    padding: 12px 0;
  }
}
