.card {
  width: 320px;
  border-radius: 10px;
  border: 1.5px solid rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  justify-content: center;
}

.card__name {
  font-family: "Cabinet Grotesk", sans-serif;
  margin: 0;
  position: absolute;
  top: 15px;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
  background-color: #fff;
  padding: 2px 12px;
  border-radius: 5px;
}

.card__image {
  object-fit: cover;
  width: 100%;
  display: flex;
  border-radius: 10px;
  cursor: pointer;
}

.card__like-button {
  position: absolute;
  top: 12px;
  right: 12px;
  background: transparent;
  border: none;
  padding: 0;
  display: flex;
  cursor: pointer;
  opacity: 0.8;
}

.card__like-button:hover {
  opacity: 1;
}

.card__like-button_hidden {
  display: none;
}

.card__like-icon {
  width: 20px;
  height: 20px;
}

@media (max-width: 480px) {
  .card {
    width: 100vw;
    max-width: 160px;
  }

  .card__name {
    font-size: 16px;
    top: 7px;
    padding: 2px 12px;
  }

  .card__image {
    max-height: 160px;
  }

  .card__like-button {
    top: 8px;
    right: 8px;
  }

  .card__like-icon {
    width: 18px;
    height: 18px;
  }
}
