.card {
  width: 320px;
  border-radius: 10px;
  border: 1.5 px solid rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  justify-content: center;
}

.card__name {
  font-family: "Cabinet Grotesk", sans-serif;
  margin: 0;
  position: absolute;
  top: 15px;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  color: hsla(0, 0%, 0%, 0.6);
  background-color: #fff;
  padding: 2px 12px;
  border-radius: 5px;
}

.card__image {
  object-fit: cover;
  width: 100%;
  display: flex;
  border-radius: 10px;
}
