/* TODO: Responsive Header */
.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  justify-content: space-between;
}

.header__content {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 24px;
}

.header__geo-data {
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}

.header__clothes-btn {
  margin: 0 20px 0 auto;
  font-family: "Cabinet Grotesk", sans-serif;
  border: none;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
}

.header__clothes-btn:hover {
  text-decoration: underline;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__user-content {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}

.header__user-avatar {
  padding-left: 4vw;
}

.header__menu-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
  z-index: 100;
}

@media (max-width: 480px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0 12px;
    position: relative;
  }

  .header__content {
    flex-direction: column;
    align-items: flex-start;
  }

  .header__logo {
    margin-bottom: 12px;
    margin-right: 0;
    width: 89px;
    height: auto;
  }

  .header__geo-data {
    padding-top: 32px;
    font-size: 16px;
  }

  .header__username {
    font-size: 16px;
  }

  .header__clothes-btn {
    font-size: 16px;
    margin: 0;
  }

  .header__menu-btn {
    display: block;
    position: absolute;
    top: 9px;
    right: -8px;
    z-index: 2;
  }

  .header__menu-btn_mobile-open {
    top: 24px;
    right: 6px;
    width: 21px;
    height: 21px;
  }

  .header__user-container {
    display: none;
    visibility: hidden;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #fff;
    position: absolute;
    top: 18px;
    right: 0;
    left: 0;
    z-index: 1;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    opacity: 0;
    transition: visibility 1s ease-in-out, opacity 1s ease-in-out;
  }

  .header__user-container_mobile-open {
    visibility: visible;
    display: flex;
    opacity: 1;
    transition: visibility 1s ease-in-out, opacity 1s ease-in-out;
  }

  .header__user-content {
    order: 1;
    padding-top: 60px;
  }
  .header__clothes-btn {
    order: 2;
    padding-bottom: 60px;
  }

  .header__user-avatar {
    padding: 0;
  }
}
