.clothes-section {
  padding-top: 12px;
}

.clothes-section__header {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 16px;
}

.clothes-section__title {
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.clothes-section__add-btn {
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0.6;
}

.clothes-section__add-btn:hover {
  text-decoration: underline;
  opacity: 1;
}

.clothes-section__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
  justify-content: center;
}

@media (max-width: 480px) {
  .clothes-section__header {
    padding-bottom: 20px;
    justify-content: space-between;
  }
  .clothes-section__title {
    line-height: 20px;
  }
  .clothes-section__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    row-gap: 16px;
  }
}
